input[type=checkbox] {
	border-color: transparent; box-sizing: content-box; box-shadow: none;
}
input[type=radio] {
	border-color: transparent; box-sizing: content-box; box-shadow: none;
}
input[type=checkbox]:hover {
	border-color: transparent; box-sizing: content-box; box-shadow: none;
}
input[type=radio]:hover {
	border-color: transparent; box-sizing: content-box; box-shadow: none;
}
